* {
  text-align: center;
}

.display-none {
  display: none;
}

.loader {
  border: solid transparent 0.4em;
  border-top: solid gray 0.4em;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  animation: loader infinite 1s linear;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  margin: 2em 17.5%;
  padding: 2em 0;
}

.card-holder {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 1em;
  padding: 0;
  justify-content: center;
}

.card {
  border: solid gray 5px;
  /* border-image: linear-gradient(
    314.5deg,
    rgba(25, 25, 25, 1) 0%,
    rgba(60, 60, 60, 1) 1%,
    rgba(61, 61, 61, 1) 49%,
    rgba(199, 199, 199, 1) 51%,
    rgba(200, 200, 200, 1) 99%,
    rgba(230, 230, 230, 1) 100%
  );
  border-image-slice: 1%; */
  cursor: pointer;
  border-radius: 5%;
  transition: all 0.05s linear;
  transform: scale(1);
  z-index: 0;
  user-select: none;
}

.card:hover {
  background-color: rgb(240, 240, 240);
  /* transform: rotate3d(50deg, 50deg, 0); */
  transition: all 0.1s linear;
  transform: scale(1.05);
  z-index: 0;
}

.card:active {
  transition: all 0.1s linear;
  transform: scale(1);
}

.card-img {
  width: 15vw;
}

#close {
  overflow: hidden;
  position: relative;
  border: none;
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: transparent;
  color: black;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
  right: 0;
  justify-self: end;
  transition: all 0.1s linear;
  transform: scale(1);
}

#close:focus {
  outline: solid 0 transparent;
  box-shadow: 0 0 0 2px #8ed0f9;
}

#close:hover {
  background: rgba(29, 161, 142, 0.1);
  transition: all 0.1s linear;
  transform: scale(1.2);
}

#close:active {
  transition: all 0.1s linear;
  transform: scale(1);
}

#close:before,
#close:after {
  position: absolute;
  top: 15%;
  left: calc(50% - 0.0625em);
  width: 0.125em;
  height: 70%;
  border-radius: 0.125em;
  transform: rotate(45deg);
  background: currentcolor;
  content: "";
}

#close:after {
  transform: rotate(-45deg);
}

.modal {
  border-radius: 2em;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  /* height: 80%;
  width: 60%; */
  background-color: white;
  box-shadow: 2px 2px 10px #282c34;
  padding: 1.5em;
  display: grid;
  /* grid-template-rows: 1fr 3fr 1fr; */
  justify-items: space-between;
}

.modal-header {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  justify-items: center;
}

.modal-grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr 5fr 1fr 3fr;
  justify-items: center;
}

.modal-foot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.modal img {
  width: 65%;
}

#pokemon-image {
  transition: all 0.1s linear;
  transform: scale(1);
  width: 100%;
}

#pokemon-image:hover {
  transition: all 0.1s linear;
  transform: scale(1.1);
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}

h3 {
  font-size: 30px;
  grid-column-start: 2;
  margin: 0;
}

h5 {
  font-size: 1em;
  margin: 0;
}

.header {
  display: grid;
  grid-template: 1fr / 1fr 4fr 1fr;
  justify-items: center;
  background-color: rgba(100, 200, 250, 0.95);
  padding: 1em 0;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 10;
}

.search-holder {
  z-index: 50;
  transition: all 0.1s linear;
  transform: scale(1);
}

.search {
  width: 40em;
  z-index: 50;
  text-align: start;
}

.search-holder:hover {
  transition: all 0.1s linear;
  transform: scale(1.025);
}

.search-holder:active {
  transition: all 0.1s linear;
  transform: scale(1.0125);
}

.load-more {
  background-color: rgba(100, 200, 250, 1);
  padding: 1em;
  width: 40em;
  font-size: 1em;
  color: white;
  text-shadow: 0 0 10px #282c34;
}

.filter {
  position: fixed;
  width: 15%;
  margin-top: 2em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.filter-item {
  width: 3em;
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0.4em;
  transition: all 0.1s linear;
  transform: scale(1);
  user-select: none;
  text-align: center;
}

.filter-item img {
  width: 3em;
  /* padding: 0.2em; */
  margin: 0 0.3em;
  box-sizing: border-box;
  border: solid 0.2em transparent;
  opacity: 0.3;
  transition: all 0.1s linear;
  transform: scale(1);
}

.filter-item img:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.1s linear;
  transform: scale(1.1);
}

.filter-item img:active {
  opacity: 1;
  transition: all 0.1s linear;
  transform: scale(1);
}

.filter-item span {
  font-size: 70%;
  justify-self: center;
  /* margin: 0 0.3em; */
}

#type-active {
  opacity: 1;
  border: solid 0.2em rgba(100, 200, 250, 1);
}

#type-active:hover {
  opacity: 0.7;
}

#type-active:active {
  opacity: 1;
}

.sort {
  position: fixed;
  display: block;
  width: 15%;
  margin-top: 2em;
  right: 0;
  top: 2em;
  padding: 0.5em;
}

.sort-stat {
  cursor: pointer;
  transition: all 0.1s linear;
  transform: scale(1);
  user-select: none;
  opacity: 0.7;
}

.sort-stat:hover {
  transition: all 0.1s linear;
  transform: scale(1.1);
  opacity: 0.8;
}

.sort-stat:active {
  transition: all 0.1s linear;
  transform: scale(1.05);
  opacity: 1;
}

#sort-stat-active {
  opacity: 1;
  transition: all 0.1s linear;
  transform: scale(1.05);
}

#sort-stat-active:hover {
  opacity: 0.8;
  transition: all 0.1s linear;
  transform: scale(1.1);
}

#sort-stat-active:active {
  opacity: 1;
  transition: all 0.1s linear;
  transform: scale(1.05);
}

.stat-name {
  font-weight: bold;
  font-size: 1em;
  user-select: none;
}

#bold {
  font-weight: 900;
  font-size: 1em;
  /* text-shadow: black 0.1em 0.2em 0.5em; */
  /* border-radius: 10%; */
}

.container {
  display: grid;
  grid-template: 1fr / 1fr 3fr 1fr;
  width: 100%;
}

.type-bug,
.type-dark,
.type-dragon,
.type-electric,
.type-fairy,
.type-fighting,
.type-fire,
.type-flying,
.type-ghost,
.type-grass,
.type-ground,
.type-ice,
.type-normal,
.type-poison,
.type-psychic,
.type-rock,
.type-steel,
.type-water {
  padding: 0.2em;
  margin: 0.2em;
  border-radius: 20%;
  transition: all 0.1s linear;
  transform: scale(1);
}

.type-bug:hover,
.type-dark:hover,
.type-dragon:hover,
.type-electric:hover,
.type-fairy:hover,
.type-fighting:hover,
.type-fire:hover,
.type-flying:hover,
.type-ghost:hover,
.type-grass:hover,
.type-ground:hover,
.type-ice:hover,
.type-normal:hover,
.type-poison:hover,
.type-psychic:hover,
.type-rock:hover,
.type-steel:hover,
.type-water:hover {
  transition: all 0.1s linear;
  transform: scale(1.1);
}

.type-bug {
  background-color: darkolivegreen;
}

.type-dark {
  background-color: darkslategray;
}

.type-dragon {
  background-color: aquamarine;
}

.type-electric {
  background-color: gold;
}

.type-fairy {
  background-color: pink;
}

.type-fighting {
  background-color: chocolate;
}

.type-fire {
  background-color: red;
}

.type-flying {
  background-color: darkblue;
}

.type-ghost {
  background-color: slateblue;
}

.type-grass {
  background-color: green;
}

.type-ground {
  background-color: maroon;
}

.type-ice {
  background-color: deepskyblue;
}

.type-normal {
  background-color: grey;
}

.type-poison {
  background-color: indigo;
}

.type-psychic {
  background-color: blueviolet;
}

.type-rock {
  background-color: darkgoldenrod;
}

.type-steel {
  background-color: steelblue;
}

.type-water {
  background-color: aqua;
}

.types-holder {
  display: grid;
  justify-content: center;
}

.types-list {
  width: 4em;
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  justify-items: center;
}

.weak-resist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5em;
}

.stat-holder {
  transition: all 0.1s linear;
  transform: scale(1);
}

.stat-holder:hover {
  transition: all 0.1s linear;
  transform: scale(1.1);
}

.stat-hp {
  font-size: 0.9em;
  margin: 0.2em;
  display: block;
  background-color: green;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  color: white;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
}

.stat-attack {
  font-size: 0.9em;
  margin: 0.2em;
  display: block;
  background-color: rgb(200, 0, 0);
  border-radius: 1em;
  padding: 0.2em 0.5em;
  color: white;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
}

.stat-defense {
  font-size: 0.9em;
  margin: 0.2em;
  display: block;
  background-color: rgb(0, 0, 200);
  border-radius: 1em;
  padding: 0.2em 0.5em;
  color: white;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
}

.stat-special-attack {
  font-size: 0.9em;
  margin: 0.2em;
  display: block;
  background-color: rgb(200, 0, 200);
  border-radius: 1em;
  padding: 0.2em 0.5em;
  color: white;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
}

.stat-special-defense {
  font-size: 0.9em;
  margin: 0.2em;
  display: block;
  background-color: goldenrod;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  color: white;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
}

.stat-speed {
  font-size: 0.9em;
  margin: 0.2em;
  display: block;
  background-color: rgb(0, 200, 200);
  border-radius: 1em;
  padding: 0.2em 0.5em;
  color: white;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
}

.ability {
  display: block;
  border-radius: 1em;
  background-color: transparent;
  white-space: nowrap;
}

.dark-symbol {
  text-align: center;
  height: 200px;
  width: 200px;
  position: absolute;
}

.dark-symbol > div:first-child {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  background-color: gray;
}

.dark-symbol > div:first-child + div {
  height: 70%;
  width: 70%;
  margin: 15%;
  border-radius: 50%;
  position: absolute;
  background-color: black;
}

.dark-symbol > div:first-child + div + div {
  height: 40%;
  width: 40%;
  margin: 12.5% 30%;
  border-radius: 50%;
  position: absolute;
  background-color: gray;
}

.bug-symbol {
  text-align: center;
  height: 200px;
  width: 200px;
  position: absolute;
}

.bug-symbol > div:first-child {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(150, 200, 50, 1);
}

.bug-symbol > div:first-child + div {
  border-radius: 50% 50% 5% 50%;
  height: 50%;
  width: 50%;
  margin: 15% 25%;
  position: absolute;
  background-color: rgba(120, 160, 40, 1);
  transform: rotate(45deg);
}

.bug-symbol > div:first-child + div + div {
  border-radius: 50%;
  height: 30%;
  width: 20%;
  margin-top: 28%;
  margin-left: 22%;
  position: absolute;
  background-color: rgba(150, 200, 50, 1);
  transform: rotate(160deg);
}

.bug-symbol > div:first-child + div + div + div {
  border-radius: 50%;
  height: 30%;
  width: 20%;
  margin-top: 28%;
  margin-left: 58%;
  position: absolute;
  background-color: rgba(150, 200, 50, 1);
  transform: rotate(-160deg);
}

.bug-symbol > div:first-child + div + div + div + div {
  border-radius: 50%;
  height: 25%;
  width: 15%;
  margin-top: 30%;
  margin-left: 24%;
  position: absolute;
  background-color: rgba(120, 160, 40, 1);
  transform: rotate(160deg);
}

.bug-symbol > div:first-child + div + div + div + div + div {
  border-radius: 50%;
  height: 25%;
  width: 15%;
  margin-top: 30%;
  margin-left: 61%;
  position: absolute;
  background-color: rgba(120, 160, 40, 1);
  transform: rotate(-160deg);
}

.bug-symbol > div:first-child + div + div + div + div + div + div {
  border-radius: 50%;
  height: 25%;
  width: 15%;
  margin-top: 70%;
  margin-left: 61%;
  position: absolute;
  background-color: rgba(120, 160, 40, 1);
  transform: rotate(-160deg);
}

/* .bug-symbol > div:first-child + div > div > div {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(120, 160, 40, 1);
}

.bug-symbol > div:first-child + div {
  height: 100%;
  width: 100%;
  clip-path: ellipse(28% 33% at 50% 50%);
  position: absolute;
  background-color: rgba(150, 200, 50, 1);
  transform: rotate(45deg);
  overflow: hidden;
}

.bug-symbol > div:first-child + div > div {
  height: 100%;
  width: 100%;
  clip-path: ellipse(28% 33% at 50% 50%);
  position: absolute;
  background-color: rgba(150, 200, 50, 1);
  transform: rotate(-90deg);
  overflow: hidden;
} */
